:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  width: 100vw;
  height: 100vh;
}

html, body, p {
  padding: 0;
  margin: 0;
}

:root {
  --difficulty-1: cornflowerblue;
  --difficulty-2: #64a10c;
  --difficulty-3: orange;
  --difficulty-4: red;
}

.difficulty-1 {
  --difficulty-color: var(--difficulty-1);
}
.difficulty-2 {
  --difficulty-color: var(--difficulty-2);
}
.difficulty-3 {
  --difficulty-color: var(--difficulty-3);
}
.difficulty-4 {
  --difficulty-color: var(--difficulty-4);
}
